<div class="grid-container container-inner">
	<div class="grid-x align-center">
		
   {{> feature smallimg="holden-feature-mobile.jpg" largeimg="holden-feature-desktop.jpg"}}

    <div class="cell large-7 hp-donate-bar">
    	<div class="inner" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    		<h3>Your Generous Contribution Will Help To Protect Our Community</h3>
    		<p>Our city has lost its way and many of our elected officials have abandoned the policies that kept our streets safe for decades. I love our neighborhoods and I ask that you help me continue to fight to keep them safe and clean for our children and our grandchildren.</p>

    		{{> donate-numbers}}
    	</div>
    </div>

    <div class="cell large-5 hp-signup-bar">
    	<div class="inner" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    		<h3>Join Bob</h3>
    		<p id="hp-join-form-message">Fill out the form below to join our campaign.</p>
    		<form id="hp-join-form" action="https://holdenforcitycouncil.us7.list-manage.com/subscribe/post-json?u=7d00529cc08ebc48d83096c4f&amp;id=5e3c61dfbc&c=?" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    			<input type="hidden" name="b_name" id="b_name" value="7d00529cc08ebc48d83096c4f">
    			<input type="hidden" name="id" value="5e3c61dfbc">
    			<div class="double-inputs">
    				<div>
    					<label for="mce-FNAME">First Name</label>
    					<input type="text" placeholder="First Name" name="FNAME" id="mce-FNAME" />
    				</div>
    				<div>
    					<label for="mce-LNAME">Last Name</label>
    					<input type="text" placeholder="Last Name" name="LNAME" id="mce-LNAME" />
    				</div>
    			</div>
    			<label for="mce-EMAIL">E-mail Address</label>
    			<input type="email" value="" name="EMAIL" placeholder="E-mail Address" id="mce-EMAIL">
    			<label for="mce-MMERGE5">Mobile Phone</label>
    			<input type="text" placeholder="Mobile Phone (optional)" name="MMERGE5" value="" id="mce-MMERGE5" />
    			<p class="disclaimer">By submitting your cell phone number you are agreeing to receive periodic text messages from this organization. Message and data rates may apply. Text HELP for more information. Text STOP to stop receiving message</p> 
    			<input type="submit" value="Sign Up" class="button outline-white full-width" />
    		</form>
    	</div>
    </div>

    <div class="cell hp-section news-section" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    	
    	<h3 class="sub-head" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    		<hr />
    		In The News
    	</h3>

    	<div class="grid-x news-container">
    		{{#each homepage.0.fields.news}}
    		<div class="cell medium-11 large-5 news-item" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="100">
    			<article>
    			<a href="{{fields.url}}">
	    			<img src="{{fields.thumb.fields.file.url}}" alt="{{fields.headline}}" />
	    			<div class="copy">
	    				<h4 class="news-headline">{{fields.headline}}</h4>
	    				<p class="byline">By {{fields.author}}</p>
	    				<p class="news-desc">{{trim fields.description 90}}...</p>
	    			</div>
	    		</a>
	    	</article>
    		</div>
		    {{/each}}
		  </div>

         <a href="/news" class="button outline-primary align-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom">View More News</a>

    	</div>


    <div class="cell hp-section whyrunning-hp" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    	<h3 class="sub-head" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    		<hr />
    		Why I'm Running for Re-Election
    	</h3>
    	<p class="sub-head-desc" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="100">I've been honored to represent this district for the last three years but there's more to do. I’m excited to announce that I’m running for re-election.</p>



    	<div class="grid-x video-outer" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    		<div class="cell small-10 large-8 video-outer" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    			<div id="fb-root"></div>
					  <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>

					  <!-- Your embedded video player code -->
					  <div class="fb-video" data-href="https://www.facebook.com/bobholdencitycouncil/videos/750466169219177/" data-show-text="false" data-allowfullscreen="true">
					    <div class="fb-xfbml-parse-ignore">
					      <blockquote cite="https://www.facebook.com/bobholdencitycouncil/videos/750466169219177/">
					        <a href="https://www.facebook.com/bobholdencitycouncil/videos/750466169219177/">How to Share With Just Friends</a>
					        <p>How to share with just friends.</p>
					        Posted by <a href="https://www.facebook.com/bobholdencitycouncil">Robert Holden 2021</a> on Wednesday, December 16, 2020
					      </blockquote>
					    </div>
					  </div>
    		</div>
    	</div>

    	<a href="https://www.facebook.com/bobholdencitycouncil/videos/" class="button outline-white align-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom">View More Videos</a>

    	<div class="videos-bg"></div>
    </div>



    	<div class="cell hp-section facebook-hp" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
	    	<h3 class="sub-head" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
	    		<hr />
	    		Latest From Facebook
	    	</h3>

	    	<div class="grid-x align-center">
	    		<div class="cell medium-12 large-10">
			    	<ul>
			    		{{#each facebook}}
							<li class="social-item" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
								<div class="header">
										<img src="/images/fb-icon.jpg" alt="Robert Holden 2021" class="social-profile-pic" />
									<div class="social-account-info">
										<h4><a href="https://www.facebook.com/bobholdencitycouncil">Robert Holden</a></h4>
										<p>{{formatdate created_time false}}</p>
									</div>
								</div>
								<div class="social-photo" style="background-image: url('{{full_picture}}');">
									<a href="{{permalink_url}}">
										<img src="/images/social-sizer.gif" alt="Photo Placeholder" />
									</a>
								</div>
								<div class="inner">
									<a href="${fb.permalink_url}" class="description">
										<p>{{trim message 170}}...</p>
									</a>
									<a href="{{permalink_url}}" class="button fill-primary align-center">View on Facebook</a>
								</div>
							</li>
							{{/each}}
			    	</ul>
		    	</div>
		    </div>

	    	<a href="https://www.facebook.com/bobholdencitycouncil" class="button outline-primary align-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom">View More On Facebook</a>
	    </div>

    </div>

  </div>
</div>